In [2]:
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

# Get the Data

In [2]:
import pandas as pd 
import pyodbc 

def open_connection():    
    conn = pyodbc.connect('Driver={SQL Server};'
                        'Server=aydess;'
                        'Database=MIX;'
                        'Trusted_Connection=yes;')
    return conn

In [3]:
def close_connection(conn):
    if conn != None: 
        conn.close()

In [4]:
def custom_query(query): 
    res = None 
    try: 
        conn = open_connection() 
        res = pd.read_sql(query, conn) 
    except: 
        print('error occured')
    finally: 
        close_connection(conn)
        return res

In [6]:
# query = "SELECT SidSecenek optionId, Sira bill FROM Proto.ilknur.BirliktelikAnaliziScnkDty WHERE SidMalzemeMarka = 4 and SidMalzemeCinsiyet = 3" 
query = "SELECT SidSecenek optionId, Sira bill FROM Proto.ilknur.BirliktelikAnaliziScnkDty WHERE SidMalzemeMarka = 4 and SidMalzemeCinsiyet = 3 and SidMalzemeUrunGrubu not in (10,21, 23, 25, 32, 41, 46, 128, 237)"
conn = open_connection() 
data = pd.read_sql(query, conn)
close_connection(conn)

In [7]:
data.shape

(915262, 2)

In [8]:
data.head()

   optionId  bill
0    745321     1
1    666652     1
2    745310     3
3    745328     3
4    749358     3

In [9]:
data.to_csv("../datasets/raw_data_reduced_UG.csv", index=True)

In [6]:
query_w = "SELECT SidSecenek optionId, Sira bill FROM Proto.ilknur.BirliktelikAnaliziScnkDty WHERE SidMalzemeMarka = 4 and SidMalzemeCinsiyet = 4 and SidMalzemeUrunGrubu not in (10,21, 23, 25, 32, 41, 46, 128, 237)"
conn = open_connection() 
data_w = pd.read_sql(query_w, conn)
close_connection(conn)

c:\Users\melih.kacaman\Anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [8]:
data_w.to_csv("../datasets/raw_data_reduced_UG_women.csv", index=True)