# Get the Data

In [1]:
import pandas as pd 
data = pd.read_csv("../datasets/raw_data.csv")
data.head()

   Unnamed: 0  optionId  bill
0           0    751839     1
1           1    751782     1
2           2    745321     1
3           3    666652     1
4           4    751873     2

In [2]:
data.columns = ['index', 'option', 'bill']

In [3]:
data.head()

   index  option  bill
0      0  751839     1
1      1  751782     1
2      2  745321     1
3      3  666652     1
4      4  751873     2

In [4]:
sample_set = data[:100]

In [5]:
sample_set.shape

(100, 3)

In [6]:
sample_set.bill.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32],
      dtype=int64)

In [7]:
# create two list of options 
all_options = sample_set.option.unique()
all_options.shape

(85,)

In [8]:
import numpy as np 

half = int(np.floor(all_options.shape[0] / 2)) 
half

42

In [9]:
left_options = all_options[:half] 
right_options = all_options[half:]

left_options.shape[0] + right_options.shape[0]

85

In [10]:
right_options[:10], right_options[:10]

(array([705527, 704329, 705522, 705502, 714910, 715013, 753517, 705521,
        677956, 750116], dtype=int64),
 array([705527, 704329, 705522, 705502, 714910, 715013, 753517, 705521,
        677956, 750116], dtype=int64))

In [11]:
import itertools
p = itertools.product(left_options, right_options)

In [12]:
option_pairs = np.array([v for v in p])

In [13]:
option_pairs[:3]

array([[751839, 705527],
       [751839, 704329],
       [751839, 705522]], dtype=int64)

In [14]:
option_rating = dict() 
bills = sample_set.bill.unique() 

bills[:3]

array([1, 2, 3], dtype=int64)

In [15]:
for bill in bills: 
    a = set(sample_set[sample_set.bill == bill]['option'])
    b = set([756488, 752059])
    print(a, b, a & b, bool(a & b))
    break

{745321, 666652, 751782, 751839} {756488, 752059} set() False

In [16]:
set(option_pairs[0])

{705527, 751839}

In [17]:
%%time 
# traverse for one pair in all bills 
for pair in option_pairs: 
    pair_s = set(pair) 
    for bill in bills: 
        options = set(sample_set[sample_set.bill == bill]['option'])
        if(bool(pair_s & options)):
            option_rating[tuple(pair)] = option_rating.get(tuple(pair), 0) + 1

CPU times: total: 15.2 s
Wall time: 15.3 s

In [18]:
option_rating

{(751839, 705527): 2,
 (751839, 704329): 2,
 (751839, 705522): 2,
 (751839, 705502): 3,
 (751839, 714910): 2,
 (751839, 715013): 2,
 (751839, 753517): 2,
 (751839, 705521): 2,
 (751839, 677956): 2,
 (751839, 750116): 2,
 (751839, 745307): 3,
 (751839, 705590): 3,
 (751839, 774235): 2,
 (751839, 751787): 2,
 (751839, 751969): 2,
 (751839, 744129): 3,
 (751839, 744133): 2,
 (751839, 772478): 2,
 (751839, 746996): 2,
 (751839, 683272): 2,
 (751839, 705494): 2,
 (751839, 705574): 2,
 (751839, 753455): 2,
 (751839, 704331): 2,
 (751839, 751581): 2,
 (751839, 745375): 2,
 (751839, 751578): 2,
 (751839, 671998): 2,
 (751839, 751051): 2,
 (751839, 705576): 2,
 (751839, 753338): 2,
 (751839, 677906): 2,
 (751839, 663259): 2,
 (751839, 663267): 2,
 (751839, 753628): 2,
 (751839, 753433): 4,
 (751839, 744125): 2,
 (751839, 744127): 2,
 (751839, 751937): 2,
 (751839, 751771): 2,
 (751839, 748593): 2,
 (751839, 707712): 2,
 (751839, 757082): 2,
 (751782, 705527): 2,
 (751782, 704329): 2,
 (751782, 705522): 2,
 (751782, 705502): 3,
 (751782, 714910): 2,
 (751782, 715013): 2,
 (751782, 753517): 2,
 (751782, 705521): 2,
 (751782, 677956): 2,
 (751782, 750116): 2,
 (751782, 745307): 3,
 (751782, 705590): 3,
 (751782, 774235): 2,
 (751782, 751787): 2,
 (751782, 751969): 2,
 (751782, 744129): 3,
 (751782, 744133): 2,
 (751782, 772478): 2,
 (751782, 746996): 2,
 (751782, 683272): 2,
 (751782, 705494): 2,
 (751782, 705574): 2,
 (751782, 753455): 2,
 (751782, 704331): 2,
 (751782, 751581): 2,
 (751782, 745375): 2,
 (751782, 751578): 2,
 (751782, 671998): 2,
 (751782, 751051): 2,
 (751782, 705576): 2,
 (751782, 753338): 2,
 (751782, 677906): 2,
 (751782, 663259): 2,
 (751782, 663267): 2,
 (751782, 753628): 2,
 (751782, 753433): 4,
 (751782, 744125): 2,
 (751782, 744127): 2,
 (751782, 751937): 2,
 (751782, 751771): 2,
 (751782, 748593): 2,
 (751782, 707712): 2,
 (751782, 757082): 2,
 (745321, 705527): 3,
 (745321, 704329): 3,
 (745321, 705522): 3,
 (745321, 705502): 4,
 (745321, 714910): 3,
 (745321, 715013): 3,
 (745321, 753517): 3,
 (745321, 705521): 3,
 (745321, 677956): 3,
 (745321, 750116): 3,
 (745321, 745307): 4,
 (745321, 705590): 4,
 (745321, 774235): 3,
 (745321, 751787): 3,
 (745321, 751969): 3,
 (745321, 744129): 4,
 (745321, 744133): 3,
 (745321, 772478): 3,
 (745321, 746996): 3,
 (745321, 683272): 3,
 (745321, 705494): 3,
 (745321, 705574): 3,
 (745321, 753455): 3,
 (745321, 704331): 3,
 (745321, 751581): 3,
 (745321, 745375): 3,
 (745321, 751578): 3,
 (745321, 671998): 3,
 (745321, 751051): 3,
 (745321, 705576): 3,
 (745321, 753338): 3,
 (745321, 677906): 3,
 (745321, 663259): 3,
 (745321, 663267): 3,
 (745321, 753628): 3,
 (745321, 753433): 5,
 (745321, 744125): 3,
 (745321, 744127): 3,
 (745321, 751937): 3,
 (745321, 751771): 3,
 (745321, 748593): 3,
 (745321, 707712): 3,
 (745321, 757082): 3,
 (666652, 705527): 2,
 (666652, 704329): 2,
 (666652, 705522): 2,
 (666652, 705502): 3,
 (666652, 714910): 2,
 (666652, 715013): 2,
 (666652, 753517): 2,
 (666652, 705521): 2,
 (666652, 677956): 2,
 (666652, 750116): 2,
 (666652, 745307): 3,
 (666652, 705590): 3,
 (666652, 774235): 2,
 (666652, 751787): 2,
 (666652, 751969): 2,
 (666652, 744129): 3,
 (666652, 744133): 2,
 (666652, 772478): 2,
 (666652, 746996): 2,
 (666652, 683272): 2,
 (666652, 705494): 2,
 (666652, 705574): 2,
 (666652, 753455): 2,
 (666652, 704331): 2,
 (666652, 751581): 2,
 (666652, 745375): 2,
 (666652, 751578): 2,
 (666652, 671998): 2,
 (666652, 751051): 2,
 (666652, 705576): 2,
 (666652, 753338): 2,
 (666652, 677906): 2,
 (666652, 663259): 2,
 (666652, 663267): 2,
 (666652, 753628): 2,
 (666652, 753433): 4,
 (666652, 744125): 2,
 (666652, 744127): 2,
 (666652, 751937): 2,
 (666652, 751771): 2,
 (666652, 748593): 2,
 (666652, 707712): 2,
 (666652, 757082): 2,
 (751873, 705527): 2,
 (751873, 704329): 2,
 (751873, 705522): 2,
 (751873, 705502): 3,
 (751873, 714910): 2,
 (751873, 715013): 2,
 (751873, 753517): 2,
 (751873, 705521): 2,
 (751873, 677956): 2,
 (751873, 750116): 2,
 (751873, 745307): 3,
 (751873, 705590): 3,
 (751873, 774235): 2,
 (751873, 751787): 2,
 (751873, 751969): 2,
 (751873, 744129): 3,
 (751873, 744133): 2,
 (751873, 772478): 2,
 (751873, 746996): 2,
 (751873, 683272): 2,
 (751873, 705494): 2,
 (751873, 705574): 2,
 (751873, 753455): 2,
 (751873, 704331): 2,
 (751873, 751581): 2,
 (751873, 745375): 2,
 (751873, 751578): 2,
 (751873, 671998): 2,
 (751873, 751051): 2,
 (751873, 705576): 2,
 (751873, 753338): 2,
 (751873, 677906): 2,
 (751873, 663259): 2,
 (751873, 663267): 2,
 (751873, 753628): 2,
 (751873, 753433): 4,
 (751873, 744125): 2,
 (751873, 744127): 2,
 (751873, 751937): 2,
 (751873, 751771): 2,
 (751873, 748593): 2,
 (751873, 707712): 2,
 (751873, 757082): 2,
 (760125, 705527): 2,
 (760125, 704329): 2,
 (760125, 705522): 2,
 (760125, 705502): 3,
 (760125, 714910): 2,
 (760125, 715013): 2,
 (760125, 753517): 2,
 (760125, 705521): 2,
 (760125, 677956): 2,
 (760125, 750116): 2,
 (760125, 745307): 3,
 (760125, 705590): 3,
 (760125, 774235): 2,
 (760125, 751787): 2,
 (760125, 751969): 2,
 (760125, 744129): 3,
 (760125, 744133): 2,
 (760125, 772478): 2,
 (760125, 746996): 2,
 (760125, 683272): 2,
 (760125, 705494): 2,
 (760125, 705574): 2,
 (760125, 753455): 2,
 (760125, 704331): 2,
 (760125, 751581): 2,
 (760125, 745375): 2,
 (760125, 751578): 2,
 (760125, 671998): 2,
 (760125, 751051): 2,
 (760125, 705576): 2,
 (760125, 753338): 2,
 (760125, 677906): 2,
 (760125, 663259): 2,
 (760125, 663267): 2,
 (760125, 753628): 2,
 (760125, 753433): 4,
 (760125, 744125): 2,
 (760125, 744127): 2,
 (760125, 751937): 2,
 (760125, 751771): 2,
 (760125, 748593): 2,
 (760125, 707712): 2,
 (760125, 757082): 2,
 (745310, 705527): 3,
 (745310, 704329): 3,
 (745310, 705522): 3,
 (745310, 705502): 4,
 (745310, 714910): 3,
 (745310, 715013): 3,
 (745310, 753517): 3,
 (745310, 705521): 3,
 (745310, 677956): 3,
 (745310, 750116): 3,
 (745310, 745307): 4,
 (745310, 705590): 4,
 (745310, 774235): 3,
 (745310, 751787): 3,
 (745310, 751969): 3,
 (745310, 744129): 4,
 (745310, 744133): 3,
 (745310, 772478): 3,
 (745310, 746996): 3,
 (745310, 683272): 3,
 (745310, 705494): 3,
 (745310, 705574): 3,
 (745310, 753455): 3,
 (745310, 704331): 3,
 (745310, 751581): 3,
 (745310, 745375): 3,
 (745310, 751578): 3,
 (745310, 671998): 3,
 (745310, 751051): 3,
 (745310, 705576): 3,
 (745310, 753338): 3,
 (745310, 677906): 3,
 (745310, 663259): 3,
 (745310, 663267): 3,
 (745310, 753628): 3,
 (745310, 753433): 5,
 (745310, 744125): 3,
 (745310, 744127): 3,
 (745310, 751937): 3,
 (745310, 751771): 3,
 (745310, 748593): 3,
 (745310, 707712): 3,
 (745310, 757082): 3,
 (745328, 705527): 2,
 (745328, 704329): 2,
 (745328, 705522): 2,
 (745328, 705502): 3,
 (745328, 714910): 2,
 (745328, 715013): 2,
 (745328, 753517): 2,
 (745328, 705521): 2,
 (745328, 677956): 2,
 (745328, 750116): 2,
 (745328, 745307): 3,
 (745328, 705590): 3,
 (745328, 774235): 2,
 (745328, 751787): 2,
 (745328, 751969): 2,
 (745328, 744129): 3,
 (745328, 744133): 2,
 (745328, 772478): 2,
 (745328, 746996): 2,
 (745328, 683272): 2,
 (745328, 705494): 2,
 (745328, 705574): 2,
 (745328, 753455): 2,
 (745328, 704331): 2,
 (745328, 751581): 2,
 (745328, 745375): 2,
 (745328, 751578): 2,
 (745328, 671998): 2,
 (745328, 751051): 2,
 (745328, 705576): 2,
 (745328, 753338): 2,
 (745328, 677906): 2,
 (745328, 663259): 2,
 (745328, 663267): 2,
 (745328, 753628): 2,
 (745328, 753433): 4,
 (745328, 744125): 2,
 (745328, 744127): 2,
 (745328, 751937): 2,
 (745328, 751771): 2,
 (745328, 748593): 2,
 (745328, 707712): 2,
 (745328, 757082): 2,
 (749358, 705527): 2,
 (749358, 704329): 2,
 (749358, 705522): 2,
 (749358, 705502): 3,
 (749358, 714910): 2,
 (749358, 715013): 2,
 (749358, 753517): 2,
 (749358, 705521): 2,
 (749358, 677956): 2,
 (749358, 750116): 2,
 (749358, 745307): 3,
 (749358, 705590): 3,
 (749358, 774235): 2,
 (749358, 751787): 2,
 (749358, 751969): 2,
 (749358, 744129): 3,
 (749358, 744133): 2,
 (749358, 772478): 2,
 (749358, 746996): 2,
 (749358, 683272): 2,
 (749358, 705494): 2,
 (749358, 705574): 2,
 (749358, 753455): 2,
 (749358, 704331): 2,
 (749358, 751581): 2,
 (749358, 745375): 2,
 (749358, 751578): 2,
 (749358, 671998): 2,
 (749358, 751051): 2,
 (749358, 705576): 2,
 (749358, 753338): 2,
 (749358, 677906): 2,
 (749358, 663259): 2,
 (749358, 663267): 2,
 (749358, 753628): 2,
 (749358, 753433): 4,
 (749358, 744125): 2,
 (749358, 744127): 2,
 (749358, 751937): 2,
 (749358, 751771): 2,
 (749358, 748593): 2,
 (749358, 707712): 2,
 (749358, 757082): 2,
 (754574, 705527): 2,
 (754574, 704329): 2,
 (754574, 705522): 2,
 (754574, 705502): 3,
 (754574, 714910): 2,
 (754574, 715013): 2,
 (754574, 753517): 2,
 (754574, 705521): 2,
 (754574, 677956): 2,
 (754574, 750116): 2,
 (754574, 745307): 3,
 (754574, 705590): 3,
 (754574, 774235): 2,
 (754574, 751787): 2,
 (754574, 751969): 2,
 (754574, 744129): 3,
 (754574, 744133): 2,
 (754574, 772478): 2,
 (754574, 746996): 2,
 (754574, 683272): 2,
 (754574, 705494): 2,
 (754574, 705574): 2,
 (754574, 753455): 2,
 (754574, 704331): 2,
 (754574, 751581): 2,
 (754574, 745375): 2,
 (754574, 751578): 2,
 (754574, 671998): 2,
 (754574, 751051): 2,
 (754574, 705576): 2,
 (754574, 753338): 2,
 (754574, 677906): 2,
 (754574, 663259): 2,
 (754574, 663267): 2,
 (754574, 753628): 2,
 (754574, 753433): 4,
 (754574, 744125): 2,
 (754574, 744127): 2,
 (754574, 751937): 2,
 (754574, 751771): 2,
 (754574, 748593): 2,
 (754574, 707712): 2,
 (754574, 757082): 2,
 (772494, 705527): 2,
 (772494, 704329): 2,
 (772494, 705522): 2,
 (772494, 705502): 3,
 (772494, 714910): 2,
 (772494, 715013): 2,
 (772494, 753517): 2,
 (772494, 705521): 2,
 (772494, 677956): 2,
 (772494, 750116): 2,
 (772494, 745307): 3,
 (772494, 705590): 3,
 (772494, 774235): 2,
 (772494, 751787): 2,
 (772494, 751969): 2,
 (772494, 744129): 3,
 (772494, 744133): 2,
 (772494, 772478): 2,
 (772494, 746996): 2,
 (772494, 683272): 2,
 (772494, 705494): 2,
 (772494, 705574): 2,
 (772494, 753455): 2,
 (772494, 704331): 2,
 (772494, 751581): 2,
 (772494, 745375): 2,
 (772494, 751578): 2,
 (772494, 671998): 2,
 (772494, 751051): 2,
 (772494, 705576): 2,
 (772494, 753338): 2,
 (772494, 677906): 2,
 (772494, 663259): 2,
 (772494, 663267): 2,
 (772494, 753628): 2,
 (772494, 753433): 4,
 (772494, 744125): 2,
 (772494, 744127): 2,
 (772494, 751937): 2,
 (772494, 751771): 2,
 (772494, 748593): 2,
 (772494, 707712): 2,
 (772494, 757082): 2,
 (753582, 705527): 2,
 (753582, 704329): 2,
 (753582, 705522): 2,
 (753582, 705502): 3,
 (753582, 714910): 2,
 (753582, 715013): 2,
 (753582, 753517): 2,
 (753582, 705521): 2,
 (753582, 677956): 2,
 (753582, 750116): 2,
 (753582, 745307): 3,
 (753582, 705590): 3,
 (753582, 774235): 2,
 (753582, 751787): 2,
 (753582, 751969): 2,
 (753582, 744129): 3,
 (753582, 744133): 2,
 (753582, 772478): 2,
 (753582, 746996): 2,
 (753582, 683272): 2,
 (753582, 705494): 2,
 (753582, 705574): 2,
 (753582, 753455): 2,
 (753582, 704331): 2,
 (753582, 751581): 2,
 (753582, 745375): 2,
 (753582, 751578): 2,
 (753582, 671998): 2,
 (753582, 751051): 2,
 (753582, 705576): 2,
 (753582, 753338): 2,
 (753582, 677906): 2,
 (753582, 663259): 2,
 (753582, 663267): 2,
 (753582, 753628): 2,
 (753582, 753433): 4,
 (753582, 744125): 2,
 (753582, 744127): 2,
 (753582, 751937): 2,
 (753582, 751771): 2,
 (753582, 748593): 2,
 (753582, 707712): 2,
 (753582, 757082): 2,
 (753600, 705527): 5,
 (753600, 704329): 5,
 (753600, 705522): 5,
 (753600, 705502): 6,
 (753600, 714910): 5,
 (753600, 715013): 5,
 (753600, 753517): 4,
 (753600, 705521): 5,
 (753600, 677956): 5,
 (753600, 750116): 5,
 (753600, 745307): 6,
 (753600, 705590): 5,
 (753600, 774235): 5,
 (753600, 751787): 5,
 (753600, 751969): 5,
 (753600, 744129): 5,
 (753600, 744133): 4,
 (753600, 772478): 4,
 (753600, 746996): 4,
 (753600, 683272): 4,
 (753600, 705494): 4,
 (753600, 705574): 4,
 (753600, 753455): 4,
 (753600, 704331): 4,
 (753600, 751581): 4,
 (753600, 745375): 4,
 (753600, 751578): 4,
 (753600, 671998): 5,
 (753600, 751051): 5,
 (753600, 705576): 5,
 (753600, 753338): 5,
 (753600, 677906): 5,
 (753600, 663259): 5,
 (753600, 663267): 5,
 (753600, 753628): 5,
 (753600, 753433): 7,
 (753600, 744125): 5,
 (753600, 744127): 5,
 (753600, 751937): 5,
 (753600, 751771): 5,
 (753600, 748593): 5,
 (753600, 707712): 5,
 (753600, 757082): 5,
 (753506, 705527): 2,
 (753506, 704329): 2,
 (753506, 705522): 2,
 (753506, 705502): 3,
 (753506, 714910): 2,
 (753506, 715013): 2,
 (753506, 753517): 2,
 (753506, 705521): 2,
 (753506, 677956): 2,
 (753506, 750116): 2,
 (753506, 745307): 3,
 (753506, 705590): 3,
 (753506, 774235): 2,
 (753506, 751787): 2,
 (753506, 751969): 2,
 (753506, 744129): 3,
 (753506, 744133): 2,
 (753506, 772478): 2,
 (753506, 746996): 2,
 (753506, 683272): 2,
 (753506, 705494): 2,
 (753506, 705574): 2,
 (753506, 753455): 2,
 (753506, 704331): 2,
 (753506, 751581): 2,
 (753506, 745375): 2,
 (753506, 751578): 2,
 (753506, 671998): 2,
 (753506, 751051): 2,
 (753506, 705576): 2,
 (753506, 753338): 2,
 (753506, 677906): 2,
 (753506, 663259): 2,
 (753506, 663267): 2,
 (753506, 753628): 2,
 (753506, 753433): 4,
 (753506, 744125): 2,
 (753506, 744127): 2,
 (753506, 751937): 2,
 (753506, 751771): 2,
 (753506, 748593): 2,
 (753506, 707712): 2,
 (753506, 757082): 2,
 (753342, 705527): 2,
 (753342, 704329): 2,
 (753342, 705522): 2,
 (753342, 705502): 3,
 (753342, 714910): 2,
 (753342, 715013): 2,
 (753342, 753517): 2,
 (753342, 705521): 2,
 (753342, 677956): 2,
 (753342, 750116): 2,
 (753342, 745307): 3,
 (753342, 705590): 3,
 (753342, 774235): 2,
 (753342, 751787): 2,
 (753342, 751969): 2,
 (753342, 744129): 3,
 (753342, 744133): 2,
 (753342, 772478): 2,
 (753342, 746996): 2,
 (753342, 683272): 2,
 (753342, 705494): 2,
 (753342, 705574): 2,
 (753342, 753455): 2,
 (753342, 704331): 2,
 (753342, 751581): 2,
 (753342, 745375): 2,
 (753342, 751578): 2,
 (753342, 671998): 2,
 (753342, 751051): 2,
 (753342, 705576): 2,
 (753342, 753338): 2,
 (753342, 677906): 2,
 (753342, 663259): 2,
 (753342, 663267): 2,
 (753342, 753628): 2,
 (753342, 753433): 4,
 (753342, 744125): 2,
 (753342, 744127): 2,
 (753342, 751937): 2,
 (753342, 751771): 2,
 (753342, 748593): 2,
 (753342, 707712): 2,
 (753342, 757082): 2,
 (751532, 705527): 2,
 (751532, 704329): 2,
 (751532, 705522): 2,
 (751532, 705502): 3,
 (751532, 714910): 2,
 (751532, 715013): 2,
 (751532, 753517): 2,
 (751532, 705521): 2,
 (751532, 677956): 2,
 (751532, 750116): 2,
 (751532, 745307): 3,
 (751532, 705590): 3,
 (751532, 774235): 2,
 (751532, 751787): 2,
 (751532, 751969): 2,
 (751532, 744129): 3,
 (751532, 744133): 2,
 (751532, 772478): 2,
 (751532, 746996): 2,
 (751532, 683272): 2,
 (751532, 705494): 2,
 (751532, 705574): 2,
 (751532, 753455): 2,
 (751532, 704331): 2,
 (751532, 751581): 2,
 (751532, 745375): 2,
 (751532, 751578): 2,
 (751532, 671998): 2,
 (751532, 751051): 2,
 (751532, 705576): 2,
 (751532, 753338): 2,
 (751532, 677906): 2,
 (751532, 663259): 2,
 (751532, 663267): 2,
 (751532, 753628): 2,
 (751532, 753433): 4,
 (751532, 744125): 2,
 (751532, 744127): 2,
 (751532, 751937): 2,
 (751532, 751771): 2,
 (751532, 748593): 2,
 (751532, 707712): 2,
 (751532, 757082): 2,
 (751591, 705527): 2,
 (751591, 704329): 2,
 (751591, 705522): 2,
 (751591, 705502): 3,
 (751591, 714910): 2,
 (751591, 715013): 2,
 (751591, 753517): 2,
 (751591, 705521): 2,
 (751591, 677956): 2,
 (751591, 750116): 2,
 (751591, 745307): 3,
 (751591, 705590): 3,
 (751591, 774235): 2,
 (751591, 751787): 2,
 (751591, 751969): 2,
 (751591, 744129): 3,
 (751591, 744133): 2,
 (751591, 772478): 2,
 (751591, 746996): 2,
 (751591, 683272): 2,
 (751591, 705494): 2,
 (751591, 705574): 2,
 (751591, 753455): 2,
 (751591, 704331): 2,
 (751591, 751581): 2,
 (751591, 745375): 2,
 (751591, 751578): 2,
 (751591, 671998): 2,
 (751591, 751051): 2,
 (751591, 705576): 2,
 (751591, 753338): 2,
 (751591, 677906): 2,
 (751591, 663259): 2,
 (751591, 663267): 2,
 (751591, 753628): 2,
 (751591, 753433): 4,
 (751591, 744125): 2,
 (751591, 744127): 2,
 (751591, 751937): 2,
 (751591, 751771): 2,
 (751591, 748593): 2,
 (751591, 707712): 2,
 (751591, 757082): 2,
 (751595, 705527): 3,
 (751595, 704329): 3,
 (751595, 705522): 3,
 (751595, 705502): 4,
 (751595, 714910): 3,
 (751595, 715013): 3,
 (751595, 753517): 3,
 (751595, 705521): 3,
 (751595, 677956): 3,
 (751595, 750116): 3,
 (751595, 745307): 4,
 (751595, 705590): 4,
 (751595, 774235): 3,
 (751595, 751787): 3,
 (751595, 751969): 3,
 (751595, 744129): 3,
 (751595, 744133): 2,
 (751595, 772478): 2,
 (751595, 746996): 2,
 (751595, 683272): 2,
 (751595, 705494): 2,
 (751595, 705574): 2,
 (751595, 753455): 2,
 (751595, 704331): 2,
 (751595, 751581): 2,
 (751595, 745375): 2,
 (751595, 751578): 2,
 (751595, 671998): 3,
 (751595, 751051): 3,
 (751595, 705576): 3,
 (751595, 753338): 3,
 (751595, 677906): 3,
 (751595, 663259): 3,
 (751595, 663267): 3,
 (751595, 753628): 3,
 (751595, 753433): 5,
 (751595, 744125): 3,
 (751595, 744127): 3,
 (751595, 751937): 3,
 (751595, 751771): 3,
 (751595, 748593): 3,
 (751595, 707712): 3,
 (751595, 757082): 3,
 (751597, 705527): 2,
 (751597, 704329): 2,
 (751597, 705522): 2,
 (751597, 705502): 3,
 (751597, 714910): 2,
 (751597, 715013): 2,
 (751597, 753517): 2,
 (751597, 705521): 2,
 (751597, 677956): 2,
 (751597, 750116): 2,
 (751597, 745307): 3,
 (751597, 705590): 3,
 (751597, 774235): 2,
 (751597, 751787): 2,
 (751597, 751969): 2,
 (751597, 744129): 3,
 (751597, 744133): 2,
 (751597, 772478): 2,
 (751597, 746996): 2,
 (751597, 683272): 2,
 (751597, 705494): 2,
 (751597, 705574): 2,
 (751597, 753455): 2,
 (751597, 704331): 2,
 (751597, 751581): 2,
 (751597, 745375): 2,
 (751597, 751578): 2,
 (751597, 671998): 2,
 (751597, 751051): 2,
 (751597, 705576): 2,
 (751597, 753338): 2,
 (751597, 677906): 2,
 (751597, 663259): 2,
 (751597, 663267): 2,
 (751597, 753628): 2,
 (751597, 753433): 4,
 (751597, 744125): 2,
 (751597, 744127): 2,
 (751597, 751937): 2,
 (751597, 751771): 2,
 (751597, 748593): 2,
 (751597, 707712): 2,
 (751597, 757082): 2,
 (751649, 705527): 2,
 (751649, 704329): 2,
 (751649, 705522): 2,
 (751649, 705502): 3,
 (751649, 714910): 2,
 (751649, 715013): 2,
 (751649, 753517): 2,
 (751649, 705521): 2,
 (751649, 677956): 2,
 (751649, 750116): 2,
 (751649, 745307): 3,
 (751649, 705590): 3,
 (751649, 774235): 2,
 (751649, 751787): 2,
 (751649, 751969): 2,
 (751649, 744129): 3,
 (751649, 744133): 2,
 (751649, 772478): 2,
 (751649, 746996): 2,
 (751649, 683272): 2,
 (751649, 705494): 2,
 (751649, 705574): 2,
 (751649, 753455): 2,
 (751649, 704331): 2,
 (751649, 751581): 2,
 (751649, 745375): 2,
 (751649, 751578): 2,
 (751649, 671998): 2,
 (751649, 751051): 2,
 (751649, 705576): 2,
 (751649, 753338): 2,
 (751649, 677906): 2,
 (751649, 663259): 2,
 (751649, 663267): 2,
 (751649, 753628): 2,
 (751649, 753433): 4,
 (751649, 744125): 2,
 (751649, 744127): 2,
 (751649, 751937): 2,
 (751649, 751771): 2,
 (751649, 748593): 2,
 (751649, 707712): 2,
 (751649, 757082): 2,
 (751972, 705527): 2,
 (751972, 704329): 2,
 (751972, 705522): 2,
 (751972, 705502): 3,
 (751972, 714910): 2,
 (751972, 715013): 2,
 (751972, 753517): 2,
 (751972, 705521): 2,
 (751972, 677956): 2,
 (751972, 750116): 2,
 (751972, 745307): 3,
 (751972, 705590): 3,
 (751972, 774235): 2,
 (751972, 751787): 2,
 (751972, 751969): 2,
 (751972, 744129): 3,
 (751972, 744133): 2,
 (751972, 772478): 2,
 (751972, 746996): 2,
 (751972, 683272): 2,
 (751972, 705494): 2,
 (751972, 705574): 2,
 (751972, 753455): 2,
 (751972, 704331): 2,
 (751972, 751581): 2,
 (751972, 745375): 2,
 (751972, 751578): 2,
 (751972, 671998): 2,
 (751972, 751051): 2,
 (751972, 705576): 2,
 (751972, 753338): 2,
 (751972, 677906): 2,
 (751972, 663259): 2,
 (751972, 663267): 2,
 (751972, 753628): 2,
 (751972, 753433): 4,
 (751972, 744125): 2,
 (751972, 744127): 2,
 (751972, 751937): 2,
 (751972, 751771): 2,
 (751972, 748593): 2,
 (751972, 707712): 2,
 (751972, 757082): 2,
 (751810, 705527): 2,
 (751810, 704329): 2,
 (751810, 705522): 2,
 (751810, 705502): 3,
 (751810, 714910): 2,
 (751810, 715013): 2,

In [19]:
import sys 

def get_size_KB(input): 
    kB = np.power(2, 20) 
    return sys.getsizeof(input) / kB

In [20]:
def create_rating_matrix(dataset): 
    all_options = dataset.option.unique()
    half = int(np.floor(all_options.shape[0] / 2)) 
    left_options = all_options[:half] 
    right_options = all_options[half:]
    p = itertools.product(left_options, right_options)
    print(len(p))
    option_rating = dict() 
    bills = dataset.bill.unique() 

    k = 0 
    # traverse for one pair in all bills 
    for pair in p: 
        pair_s = set(pair) 
        print(f"Size of the result {get_size_KB(option_rating)}")
        if k == 1: 
            break
        for bill in bills: 
            options = set(dataset[dataset.bill == bill]['option'])
            if(bool(pair_s & options)):
                option_rating[tuple(pair)] = option_rating.get(tuple(pair), 0) + 1  
        
        k = k + 1 
        # bıdı bıdı 
    return option_rating

In [21]:
len(data.option.unique())

9565

In [22]:
(37253 * 8) / np.power(2, 20)

0.28421783447265625

In [23]:
data_ordered = data.sort_values(by="option", ignore_index=True)

In [24]:
# data_ordered.to_csv("../datasets/ordered_by_options.csv")

In [25]:
data_ordered.head(5)

    index  option    bill
0  900771   10494  287600
1  748625   14310  239234
2  960707   16329  306550
3  900773   16716  287600
4  860419   16716  274508

# Binary Search Algorithm

In [26]:
from bisect import bisect_left
 
def BinarySearch(a, x):
    i = bisect_left(a, x)
    if i != len(a) and a[i] == x:
        return i
    else:
        return -1

In [27]:
BinarySearch(data_ordered.option.to_numpy(), 2284)

-1

Find the bills for single one option

In [28]:
ds = data_ordered.option.to_numpy() 
bs = data_ordered.bill.to_numpy() 
ds[:20], bs[:20 ]

(array([10494, 14310, 16329, 16716, 16716, 18511, 19216, 20198, 23880,
        23880, 31567, 32753, 32753, 32753, 41167, 41167, 41167, 41167,
        41167, 41580], dtype=int64),
 array([287600, 239234, 306550, 287600, 274508, 313566, 242116, 242126,
        293521, 287600, 287600, 264667, 258525, 264747, 266871, 325450,
        258709, 261779, 268516, 301226], dtype=int64))

In [29]:
ex_option = 2284 
idx_start = BinarySearch(ds, ex_option) 

bills = [bs[i] for i in range(idx_start, len(bs)) if ex_option == ds[i]]

bills

[]

In [30]:
s1 = set(np.concatenate((bills, [43,56,78,98,3456,675,34,767])))
s2 = set([43,56,99,7,8,89,34,45])

len(s1.intersection(s2))

3

# Rating Matrix with Binary Search

In [31]:
def get_bills(options:np.array, option_pair:tuple, bills:np.array):
    idx_start = BinarySearch(options, option_pair[0]) 
    s1 = set([bills[i] for i in range(idx_start, len(bills)) if option_pair[0] == options[i]]) 
    idx_start = BinarySearch(options, option_pair[1]) 
    s2 = set([bills[i] for i in range(idx_start, len(bills)) if option_pair[1] == options[i]]) 
    return s1.intersection(s2)

In [32]:
def create_rating_matrix_BS(dataset_ordered, dataset_raw):
    all_options = dataset_raw.option.unique()
    half = int(np.floor(all_options.shape[0] / 2)) 
    left_options = all_options[:half] 
    right_options = all_options[half:]

    p = itertools.product(left_options, right_options)
    options = dataset_ordered.option.to_numpy() 
    bills = dataset_ordered.bill.to_numpy()
    result = dict()  
    
    i = 0 
    j = 0 
    for pair in p: 
        intersection = len(get_bills(options, pair, bills))
        if intersection > 0:
            result[tuple(pair)] = result.get(tuple(pair), 0) + intersection 
            
            i = i + 1
            if(i % 100 == 0):
                print("SIZE :", get_size_KB(result)) 
            
        j = j + 1 
        if(j % 1000 == 0):  
            break 
        
        

    return result

In [33]:
# create_rating_matrix_BS(data_ordered, data)

In [127]:
data_sorted = data.sort_values(by=["bill", "option"]).drop("index", axis=1)
data_sorted.reset_index(drop=True, inplace=True)

data_sorted.head()

   option  bill
0  666652     1
1  745321     1
2  751782     1
3  751839     1
4  751873     2

In [44]:
for index, row in data.iterrows():
    index

In [63]:
def findsubsets(s, n):
    return list(itertools.combinations(s, n))

s = set([1, 2, 3, 4])

findsubsets(s, 2)

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [145]:
comibined_option = {}
bill_options = set() 
bill = sample_set.loc[0].bill 
for index, row in sample_set.iterrows():                # O(n)
    if(row.bill == bill): 
        bill_options.add(row.option) 
    else:
        if(len(bill_options) > 1):                      # len(bill_options) = O(1)
            subsets = findsubsets(bill_options, 2)      # O(?)
            for subset in subsets: 
                comibined_option[subset] = comibined_option.get(subset, 0) + 1 # avverage complexity O(1) 
        
        bill_options.clear() 
        bill_options.add(row.option)
        bill = row.bill

In [144]:
findsubsets([1,2], 2)

[(1, 2)]