# Get the Rating Matrix

In [1]:
import pickle 

pickle_in = open("../datasets/rating_matrix.pickle","rb")
rating_matrix = pickle.load(pickle_in) 
pickle_in.close()

In [3]:
type(rating_matrix)

dict

In [4]:
len(rating_matrix)

771062

In [8]:
import pandas as pd 

data = pd.Series(rating_matrix).reset_index() 
data.columns = ["option_x", "option_y", "rating"] 

data.head()

   option_x  option_y  rating
0    745321    666652       1
1    745321    751782       1
2    745321    751839      10
3    666652    751782       1
4    666652    751839       1

In [9]:
data.describe()

            option_x       option_y         rating
count  771062.000000  771062.000000  771062.000000
mean   735325.372226  735395.857417       2.418680
std     42364.768430   42085.392109       9.794105
min     16329.000000   10494.000000       1.000000
25%    714744.000000  714645.000000       1.000000
50%    751526.000000  751358.000000       1.000000
75%    760344.000000  760209.000000       2.000000
max    823758.000000  823758.000000    2254.000000