In [2]:
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

# Get the Data

In [3]:
import pandas as pd 
import pyodbc 

def open_connection():    
    conn = pyodbc.connect('Driver={SQL Server};'
                        'Server=aydess;'
                        'Database=MIX;'
                        'Trusted_Connection=yes;')
    return conn

In [5]:
def close_connection(conn):
    if conn != None: 
        conn.close()

In [6]:
def custom_query(query): 
    res = None 
    try: 
        conn = open_connection() 
        res = pd.read_sql(query, conn) 
    except: 
        print('error occured')
    finally: 
        close_connection(conn)
        return res

In [7]:
query = "select SidSecenek optionId, Sira bill from Proto.ilknur.BirliktelikAnaliziScnkDty" 
conn = open_connection() 
data = pd.read_sql(query, conn)
close_connection(conn)

In [8]:
data.shape

(2381793, 2)

In [9]:
data.head()

   optionId  bill
0    752013     1
1    752059     1
2    752123     1
3    785858     2
4    757723     2

In [10]:
data.to_csv("../datasets/raw_data.csv", index=True)